    @import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }
    body{
        background-color: #501122;
        font-family: "Almendra", serif; 
        cursor: url('#'), pointer;
    }
    header{
        display: flex;
        align-items:center ;
        justify-content: center;
        width: 90%;
        background-color: rgb(33, 33, 33);
        filter: drop-shadow(15px);
        z-index: 9999;
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
        border: 0.5px solid rgb(105, 46, 46);
        border-radius: 10px;
    }
    nav a{
        color:rgb(255, 240, 240);
        font-weight: 550;
        font-size: small;
        text-decoration: none;
        margin-left: 45px;
        margin-right: 45px;
        transition: 0.3s ease;
    }
    nav a:hover{
        color: #883d39;
    }
    .logo img{
        height: 45px;
        width: 45px;
    }
    .containerM{
        border: 1px solid white;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
    }
    .animationH{
        bottom: 0;
        top: 0;
        left: 0;
        height: 550px;
        width: 100%;
        position: absolute;
        z-index: -9999;
    }
    .nameSpan{
        font-size: 50px;
        color: rgb(95, 95, 95);
    }
    .nameSpan1{
        font-size: 90px;
        color: antiquewhite;
        animation-name: portfolioAnimation;
        animation-duration: 8s;
    }
    @keyframes portfolioAnimation {
        from {color: rgb(255, 255, 255);}
        to {color: rgb(136, 0, 0);}
    }
    .projects{
        background-color: aquamarine;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .imgProjects {
        background-color: #6c1c31;
        position: relative;
        width: 80%;
        height: 500px;
        margin-left: 10%;
    }  
    .imgMain{
        width: 80%;
        height: 500px;
        margin-left: 10%;
        margin-top: 10px;
        object-fit: contain;
        display: block;
    }
    .projectsTitle p{
        color: #282F42;
        font-size: 35px;
        display: flex;
        align-items: center;
        margin-left: 60px;
        margin-top: 30px;
    }
    .house1, .house2, .house3, .house4 {
        position: absolute;
        z-index: 990;
    }
    .house1{
        top: 18%;
        left: 15%;
    }
    .house1img{
        width: 75px;
        height: 90px;
    }
    .house2 {
        top: 25%;
        left: 58%;
    }
    .house2img{
        width: 75px;
        height: 90px;
    }
    .house3 {
        top: 55%;
        left: 60%;
    }
    .house3img{
        width: 75px;
        height: 90px;
    }
    .house4 {
        top: 55%;
        left: 30%;
    }
    .house4img{
        width: 75px;
        height: 90px;
    }
    .titleHome{
        display: flex;
        align-items:center ;
        justify-content: center;
        flex-direction: column;
        padding: 127px;
    }
    .aboutMe{
        background-color: #6c1c31;
        display: flex;
        align-items: center;
    }
    .imgLeft{
        background-color: #883d39;
        width: 70%;
        margin: 0;
        padding: 0;
    }
    .imgLeft img{
        width: 100%;
        height: 500px;
    }
    .leftText{
        background-color: #282F42;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        height: 400px;
    }
    h1{
        color: azure;
    }
    h2{
        color: #797878;
    }
    .abili1{
        display: flex;
        justify-content: baseline;
        align-items: center;
        border-bottom: 1px solid black;
        width: 100%;
    }
    .btn0{
        width: 20px;
        height: 20px;
        margin-left: 29px;
        background-color: transparent;
        border: none;
        color: #952913;
        transition: 0.3s;
    }
    .btn0:hover{
        color: antiquewhite;
    }
    .btn1 {
        width: 20px;
        height: 20px;
        margin-left: 25px;
        background-color: transparent;
        border: none;
        color: #952913;
        transition: 0.3s;
    }
    .btn1:hover{
        color: antiquewhite;
    }
    .btn2 {
        width: 20px;
        height: 20px;
        margin-left: 117px;
        background-color: transparent;
        border: none;
        color: #952913;
        transition: 0.3s;
    }
    .btn2:hover{
        color: antiquewhite;
    }
    .btn3{
        width: 20px;
        height: 20px;
        margin-left: 225px;
        background-color: transparent;
        border: none;
        color: #952913;
        transition: 0.3s;
    }
    .btn3:hover{
        color: antiquewhite;
    }
    .btn4{
        width: 20px;
        height: 20px;
        margin-left: 140px;
        background-color: transparent;
        border: none;
        color: #952913;
        transition: 0.3s;
    }
    .btn4:hover{
        color: antiquewhite;
    }
    .btn5{
        width: 20px;
        height: 20px;
        margin-left: 184px;
        background-color: transparent;
        border: none;
        color: #952913;
        transition: 0.3s;
    }
    .btn5:hover{
        color: antiquewhite;
    }
    .leftContent{
        background-color: aquamarine;
        width: 40%;
    }
    .leftContent img{
        height: 100%;
        width: 100%;
    }
    .rightContent{
        background-color: brown;
        width: 60%;
        display: flex;
    }
    .textContent{
        background-color: darkgrey;
        margin-top: 60px;
        margin-left: 80px;
        width: 400px;
    }
    .content{
        background-color: darkblue;
        display: flex;
        height: 550px;
        width: 100%;
    }
    .footer{
        color: #762e2e;
        background-color: #282F42;
        height: 300px;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding: 50px;
        display: flex;
        gap: 80px;
        border: 1px solid rgb(92, 92, 92);
    }
    .bottomLine{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid white;  
    }
    .footerRight{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerRight img{
        height: 200px;
        margin-bottom: 30px;
    }
    .footer p{
        font-size: 25px;
    }